
/*placeholder formatting for the faq page. */

/*
I want to center the faqs and make then not as wide as the whole page
*/


h2{
   color: rgb(50, 80, 100);
   background-color: rgba(50, 120, 125, 0.20);
   padding: 10px;
   margin: 0px;
}
p{
    color: rgb(60, 90, 110);
    background-color: rgba(50, 120, 125, 0.13);
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
     font-family: Verdana, Geneva, sans-serif;

}
div{
    margin-top: 10px;
}
