   /*general styles*/

html{
    background-color: rgb(100, 69, 69);
    font-family: Verdana, Geneva, sans-serif;
}

body {

   background-color: rgb(210, 240, 245);
   box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
   border-left: 1px solid gray;
   border-right: 1px solid gray;
   min-height: 100%;
   margin: 0px auto;
   min-width: 400px;
   max-width: 1075px;
   width: 100%;
    display: flex;
     flex-direction: column;

}

  h1{
      color: rgb(30, 60, 80);
      font-family: Verdana, Geneva, sans-serif;
      font-size: 2em;
      text-align: center;
      margin-top: 50px;
  }

             
h2{
    color: rgb(50, 80, 100);
    text-align: center;
}
h3{
    font-size: 15px;
    color: rgb(50, 80, 100);

}
p {
    color: rgb(90, 120, 140)
}


/* Navigation list styles */

img#navicon{
     height: 80px;
    width: 80px;
    float: left;
    border-radius: 50%;
         }

  header{
     background-color: rgb(70, 105, 110);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 105, 110);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: rgb(170, 200, 210);
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
        }

 li a:hover {
   color: rgb(10, 60, 70);

  background-color: rgb(210, 240, 245);

}
#current {
   color: rgb(10, 60, 70);
    background-color: rgb(190, 220, 225);
}


/*product page styles*/


div.content {
   flex-flow: row wrap;
   padding: 30px;
}


div.column{
    width: 50%;
}


/*form Styles*/
form {
  padding: 30px;
}

form#order > fieldset {
    background-color: rgba(50, 120, 125, 0.4);
    border-radius: 20px;
    flex: 1 1 300px;
    font-size: 0.85em;
    padding: 20px;
    margin: 10px;
}

textarea{
    margin-top: 10px;
    height: 100px;
    width: 95%;
}
legend {
    background-color: rgb(130, 80, 90);
    color: white;
    padding: 5px;
    }
.optGroup{
 border-width: 0px;
 padding: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type='submit'], input[type='reset']{
    font-size: 1.2em;
    padding: 5px;
    margin: 15px;
    background-color: rgb(130, 80, 90);
    color: white;
    border-color: white;
    border-radius: 5%
}

input[type=submit]:hover {
  background-color: rgb(200, 120, 150);
}

input[type=reset]:hover {
  background-color: rgb(200, 120, 150); 
}

div#buttons {
    text-align: center;
    width: 100%;
 }



/*home page styles*/
div#about_us {
    background-color: rgb(250, 200, 210);
    border-style: double;
    border-color: rgb(200, 100, 110);
    border-radius: 15px;
    border-width: thick;
    text-align: center;
    align-content: center;
    font-size: large;
    margin: 5%;
}

div#logo_div {
    display: block;
    width: 95%;


}

div > div {
    float: left;
}


img#logo {
    border-radius: 50%;
}


/*footer styles*/
footer {
   color: white;
   background: linear-gradient(to right, rgba(77, 132, 155, 0.73) 30%, black);
   font-size: 0.65em;
   font-style: normal;
   height: 40px;
   line-height: 30px;
   text-align: center;
   

}
footer a{
color: rgb(200, 100, 110);
}
section#dates {
    font-size: 10px;
    color: rgb(100, 40, 50);


}

p {
 padding-left: 5%;
 padding-right: 5%;
 
}
